/* extra large device */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {}

/* large device */
@media only screen and (min-width: 993px) and (max-width: 1199px) {

    /* section title css resposive */
    .section-title h3 {
        font-size: 42px;
        line-height: 44px;
        padding-bottom: 25px;
    }

    .section-title p {
        font-size: 16px;
        line-height: 25px;
    }

    /* popular courses css responsive */
    .card-title {
        font-size: 17px;
        line-height: 22px;

    }

    .card-text {
        font-size: 14px;
        line-height: 20px;
    }

    .card-price {
        font-size: 16px;
        line-height: 19px;

    }

}


/* medium device */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    /* section title css resposive */
    .section-title h3 {
        font-size: 38px;
    }

    /* carousel slider css responsive  */
    .carousel-caption-custom h1 {
        font-size: 40px;
        line-height: 47px;
    }

    .carousel-caption-custom p {
        font-size: 16px;
        line-height: 23px;
    }

    /* elearning section css responsive */
    .tab-view {
        padding-bottom: 25px;
    }

    .tab-view>h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .tab-view>p {
        font-size: 14px;
        line-height: 20px;
    }




    .feedback-carousel-item-custom {
        height: 545px;
    }

    .feedback-carousel-caption-custom {
        bottom: 0;
        top: 0;

    }

    .carousel-box-feedback {
        padding: 20px;
        width: 100%;
        margin-bottom: 30px;

    }

    .feedback-slider button {
        bottom: auto;
        top: -54px;
    }

}

/* small device */
@media only screen and (min-width: 577px) and (max-width: 767px) {

    /* section title css resposive */
    .section-title h3 {
        font-size: 28px;
        line-height: 32px;
        padding-bottom: 15px;
    }

    .section-title p {
        font-size: 16px;
        line-height: 25px;
    }

    /* carousel slider css responsive  */
    .carousel-caption-custom h1 {
        font-size: 33px;
        line-height: 40px;
    }


    .carousel-caption-custom p {
        font-size: 16px;
        line-height: 23px;
    }
}

/* x-small device */
@media only screen and (max-width: 576px) {

    /* section title css resposive */
    .section-title {
        padding: 10px 0 25px 0;
    }

    .section-title h3 {
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 15px;
    }

    .section-title p {
        font-size: 14px;
        line-height: 21px;
    }

    /* carousel slider css responsive */
    .carousel-caption-custom h1 {
        font-size: 22px;
        line-height: 28px;
        font-weight: 500;
        padding-bottom: 17px;
    }

    .carousel-caption-custom p {
        font-size: 15px;
        line-height: 20px;
        font-weight: 300;
        padding-bottom: 7px;
    }




    .feedback-carousel-item-custom {
        height: 796px;
    }

    .feedback-carousel-caption-custom {
        bottom: 0;
        top: 0;

    }

    .carousel-box-feedback {
        padding: 20px;
        width: 100%;
        margin-bottom: 30px;

    }

    .feedback-slider button {
        bottom: auto;
        top: -25px;
    }

    .feedback-slider button.carousel-control-prev {
        left: 0;
        width: 50px;
    }

    .feedback-slider button.carousel-control-next {
        right: 0;
        width: 50px;
    }
}